body {
  background-color: #FF;
  padding: 0px;
  margin: 0;
}
img {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
h1 {
  font-family: sans-serif;
  text-align: center;
  color: #FFF;
  font-size: 300%;
  padding: 0px;
}
p {
  font-family: sans-serif;
  text-align: center;
  color: #FFF;
  font-size: 150%;
  padding: 0px;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  text-align: center;

}
ul.header {
  font-weight: bold;
  padding: 0;
  text-align: center;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #1c221e;
  padding: 150px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/*CreateFlashcardList styles*/

.title-margin {
  margin: 20px 0px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.top-margin {
  margin-top: 20px;
}

.left-margin {
  margin-left: 20px;
}

.slate {
  background-color: #f2f1f1;
}

.indian-red {
  background-color: #e44c65ff;
  color: white;
}

@media(min-device-width: 480px) {
  .padding {
    padding: 0% 20%;
  }
  .full{
    width: 100%;
    height: 100%;
  }
}